/* seletor por tipo: selecionamos quais as tags html que queremos selecionar a partir do tipo da tag, por exemplo por paragrafo <p>::after
p {
  color: blue;
}
*/

/* 
seletor por id:
#root{
    color: blue
} */

/* seletor por classe: */
/* o . é como o css reconhece que é uma classe, ele é o prefixo */
.rotulo{
    font-size: 18px;
    color: blueviolet;
}